header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    margin-bottom: 25px;
}

/* Large container for the whole page */
#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 400px;
    max-width: 800px;
    margin: auto;
    border: 1px solid black;
}

/* Container for each individual row */
.rowContainer {
    display: flex;
    flex-direction: column;
}

/* Div properties */
.rowItem {
   background-color: #a0a5af;
   margin: auto;
   height:20px;
   width: 20px;
}

.etchedItem {
    background-color: #021719;
}

#clearButton {
    height: 50px;
    width: 150px;
    color: orange;
    background-color: black;
}